<nb-layout>
  <nb-layout-header>
    <a routerLink="/"><p class="title">TASL App</p></a>

    <div class="right">
      <nb-select placeholder="Menu" shape="round">
        <nb-option routerLink="/">Dashboard</nb-option>
        <nb-option routerLink="/admin/users">Accounts</nb-option>
        <nb-option *ngIf="checkStatus()" (click)="logout()">Logout</nb-option>
      </nb-select>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>