nb-layout-header{
    background: rgb(94,113,228);
    background: linear-gradient(90deg, rgba(94,113,228,1) 0%, rgba(156,93,228,1) 100%);
}

.title{
    color: white;
    font-weight: bold;
    font-size: 18px
}

.login{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 100px;
}

.right {
    position: absolute;
    right: 0px;
    padding-right: 20px;
}