<div class="row">
    <div class="col">
        <nb-card>
            <nb-card-body>
                <p class="title">All Shortend URLs</p>

                <table style="width: 100%" summary="List of all URLs">
                    <thead>
                        <tr>
                            <th>Full URL</th>
                            <th>URL Code</th>
                            <th>Clicks</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let resp of response">
                        <tr>
                            <td #full style="max-width: 200px; overflow: hidden;">{{resp.full}}</td>
                            <td #short style="max-width: 200px; overflow: hidden"><a href="{{website_url + '/' + resp.short}}">{{resp.short}}</a></td>
                            <td>{{resp.clicks}}</td>
                            <td><button nbButton status="danger" shape="round" (click)="deleteShort(resp.short)"></button></td>
                        </tr>
                    </tbody>
                </table>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col">
        <nb-card-body>
            <!--
                - Link Preview
                - Settings
                - Stats
            -->
        </nb-card-body>
    </div>
</div>