nb-card{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.title{
    font-size: 22px;
    font-weight: bold;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}