nb-card{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.title{
    font-size: 22px;
    font-weight: bold;
}