:root{
    position: relative;
}

.title{
    font-size: 22px;
    font-weight: bold;
}

nb-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 50vw;
}