<div class="row" style="text-align: center">
    <div class="col">
        <nb-card>
            <nb-card-body>
                <p class="title">Shortend URLs</p>
                <p class="description">{{response.totalUrls}}</p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col">
        <nb-card>
            <nb-card-body>
                <p class="title">Total Clicks on Links</p>
                <p class="description">{{response.totalClicks}}</p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col">

    </div>
</div>